$text-color-dark-gray: #3E3F58;
$text-color-light-gray: #3E4056;
$main-white: #FFFFFF;
$gradient-bg: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
$text-color-light-red: #F05D63;
$bg-red: #ED5267;
$bg-light: #ECF1F8;
$bg-grey: #B2B3BB;
$shadow: #0000000F;
